.logoContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    justify-content: space-between;
    gap:20px;
}

.logoItem{
    flex:calc(20%-20px);
    box-sizing: border-box;
    max-width: calc(20%-20px);
}
.logoItem img{
    display: block;
    height: auto;
    width: 100%;
    
}